@model Title
<div class="container">
    <h1>Title Created:</h1>
    <form method="post">
        <div class=" row">
            <div class="mb-3 col-4">
                <label asp-for="Description" class="form-label">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Description">
            </div>
            <div class="mb-3 col-4">
                <label asp-for="Text" class="form-label">Text</label>
                <input asp-for="Text" class="form-control" placeholder="Text">
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Created Title</button>
        <a asp-controller="Title" asp-action="Index" class="btn btn-outline-success">Back</a>

    </form>
</div>