@model Book
<div class="container-fluid">
    <h1>Created</h1>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="row align-items-center">
            <div class="mb-3 col-md-2">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3 col-md-2">
                <label asp-for="CostPrice" class="form-label">CostPrice</label>
                <input asp-for="CostPrice" class="form-control" placeholder="CostPrice">
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div class="mb-3 col-md-2">
                <label asp-for="SalePrice" class="form-label">SalePrice</label>
                <input asp-for="SalePrice" class="form-control" placeholder="SalePrice">
                <span asp-validation-for="SalePrice" class="text-danger"></span>

            </div>
            <div class="mb-3 col-md-2">
                <label asp-for="DiscountPrice" class="form-label">DiscountPrice</label>
                <input asp-for="DiscountPrice" class="form-control" placeholder="DiscountPrice">
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>

            </div>
            <div class="mb-3 col-md-2">
                <label asp-for="BookCode" class="form-label">BookCode</label>
                <input asp-for="BookCode" class="form-control" placeholder="BookCode">
                <span asp-validation-for="BookCode" class="text-danger"></span>

            </div>

        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label asp-for="Desc" class="form-label">Desc</label>
                <textarea asp-for="Desc" class="form-control" placeholder="Desc"></textarea>
            </div>
            <div class=" col-md-4">
                <label asp-for="AuthorId">Authors</label>
                <select asp-for="AuthorId" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    @foreach (Author author in ViewBag.Authors)
                    {
                        <option value="@author.Id">@author.FullName</option>
                    }
                </select>
            </div>
            <div class=" col-md-4">
                <label asp-for="CategoryId">Categories</label>
                <select asp-for="CategoryId" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    @foreach (Category category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">

            <div class="form-check col-md-4">
                <input class="form-check-input" asp-for="IsAvailable">
                <label class="form-check-label" asp-for="IsAvailable">IsAvailable</label>
                <span asp-validation-for="IsAvailable" class="text-danger"></span>

            </div>
            <div class="form-check col-md-4">
                <input class="form-check-input" asp-for="IsFeatured">
                <label class="form-check-label" asp-for="IsFeatured">IsFeatured</label>
                <span asp-validation-for="IsFeatured" class="text-danger"></span>

            </div>
            <div class="form-check col-md-4">
                <input class="form-check-input" asp-for="IsNew">
                <label class="form-check-label" asp-for="IsNew">IsNew</label>
                <span asp-validation-for="IsNew" class="text-danger"></span>

            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label asp-for="PosterImageFile" class="form-label">PosterImageFile</label>
                <input asp-for="PosterImageFile" class="form-control" placeholder="PosterImageFile">
                <span asp-validation-for="PosterImageFile" class="text-danger"></span>

            </div>
            <div class="mb-3 col-md-4">
                <label asp-for="ImageFiles" class="form-label">ImageFiles</label>
                <input asp-for="ImageFiles" class="form-control" placeholder="ImageFiles">
                <span asp-validation-for="ImageFiles" class="text-danger"></span>

            </div>
            
        </div>


        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Book" asp-action="Index" class="btn btn-outline-success">Back</a>

    </form>
</div>